@charset "UTF-8";
@use "../setting" as set;
@media screen and (max-width: 768px) {
	//タブレット以下
	.usc_top {
		overflow-x: hidden;
		.sec_mv {
			padding-bottom: 4rem;
			.mv_title_box {
				border-radius: 0 2rem 0 0;
				padding: 2.5rem 2.5rem 4rem;
				.mv_title {
					font-size: 1.5em;
					.strong {
						font-size: 1.25em;
					}
				}
			}
			.mv_txt_box {
				top: 50%;
				transform: translate(-50%, -50%);
				.main_txt {
					font-size: 1.75em;
					line-height: 1.75;
					letter-spacing: 0.05em;
					.txtbg {
						line-height: 1.5;
						padding: 0 1.5rem;
					}
				}
			}
			.animation_area {
				&:before {
					height: 10rem;
				}
				.student_illust {
					display: block;
					transform: translate(2rem, 2rem);
					img {
						width: 60vw;
					}
				}
			}
			.scroll_guide {
				display: none;
			}
		}

		.event_bnr_area {
			margin-top: 4rem;
			padding-inline: 1.5rem;
			.event_bnr {
				width: 100%;
				border: 1px solid #000;
				a {
					.bnr_inner {
						padding: 0.5rem;
						.bnr_img {
							flex: 1;
							margin-right: 1rem;
						}
						.txt_box {
							flex: 1.5;
							&:after {
								width: 1rem;
								height: 1rem;
							}
							.event_name {
								margin-top: 1rem;
								padding-top: 1rem;
							}
							.date_databox {
								margin-top: 1rem;
								padding: 0 0 1rem 0;
								& > .databox_title {
									font-size: 0.75em;
									margin-bottom: 0.25rem;
									padding: 0 1rem;
								}
								& > .databox_contents {
									width: 100%;
									font-size: 1.15em;
								}
							}
						}
					}
				}
			}
		}

		.sec_mv_lead {
			//MV下リード文
			padding: 3.5rem 0 1.5rem;
			.lead_contents {
				margin: 2.5rem 0;
				.sub_title {
					margin-bottom: 1rem;
				}
				.txt {
					line-height: 2;
				}
				.moreAccContents {
					padding-bottom: 2.5rem;
				}
			}
			/* .lead_support_box_area {
				margin-block: 2.5rem;
				.exemption_databox {
					padding: 1rem 1.5rem;
					& > .databox_title {
						font-size: 1.25rem;
						margin-bottom: 1rem;
					}
					& > .databox_contents {
						@include set.flexbox();
						@include set.flex_center();
						flex: 2;
					}
				}
				.lead_support_box {
					margin-top: 1.5rem;
					padding: 1.5rem 1rem;
					.support_img {
						.img_caption {
							font-size: 0.85em;
							margin-top: 1rem;
						}
					}
				}
			} */
			.lead_learn_point_area {
				margin-block: 2.5rem 5rem;
				.recommend_list {
					row-gap: 1rem;
					.recommend {
						@include set.flexbox();
						@include set.flex_center();
						flex-direction: column;
						width: calc(100% / 2.1);
						padding: 1rem 0.5rem;

						.strong {
							font-size: 1.15em;
						}
					}
				}
				.sec_learn_point {
					margin-block: 2.5rem;
					.learn_point_title {
						font-size: 2rem;
						margin-bottom: 1rem;
						.sub_title {
							font-size: 0.85em;
							margin-left: 1rem;
							padding: 0.25rem 0.5rem;
						}
					}
					.learn_point_list {
						row-gap: 2rem;
						padding: 2rem 1.5rem;
						.learn_point {
							width: 100%;
							column-gap: 1rem;
							.point_title {
								flex: 1;
								font-size: 0.9rem;
								line-height: 1;
								padding: 0.5rem;
								.num {
									font-size: 2em;
								}
							}
							.point_desc {
								flex: 6;
								.strong {
									font-size: 1.15rem;
								}
								.caution {
									display: inline-block;
									font-size: 0.85rem;
									line-height: 1.2;
								}
							}
						}
					}
				}
			}
			.about_usc_databox {
				& > .databox_title {
					font-size: 1.25rem;
					padding: 0.75rem 1rem;
				}
				& > .databox_contents {
					padding: 2rem 1.5rem;
					& > * {
						&:not(:last-child) {
							margin-bottom: 1.5rem;
						}
					}
					.txt_box {
						width: 100%;
						padding-block: 1rem;
						.about_title {
							font-size: 1.25rem;
							line-height: 1.75;
						}
						.lead {
							font-size: 0.85rem;
						}
						.txt {
							margin-top: 1.5rem;
						}
						.terms_list {
							font-size: 1.15rem;
							margin-block: 0.5rem;
							.terms {
								line-height: 1.2;
								text-indent: -1.75rem;
								padding-left: 1.75rem;
								&:not(:last-child) {
									margin-bottom: 0.5rem;
								}
								&:before {
									font-size: 0.95rem;
									text-indent: 0;
									padding: 2px;
								}
							}
						}
					}
					.flow_graph {
						flex: 1;
						.flow_list {
							.flow {
								.flow_inner {
									height: 100%;
									padding: 0.25rem 0.5rem;
								}
								.branch_area {
									.branch_box,
									.branch_box .flow_inner {
										&:before {
											width: 2.5rem;
											height: 3rem;
										}
										&:after {
											font-size: 1rem;
										}
									}
									.branch_box .flow_inner {
										&:before {
											transform: translate(-50%, calc(100% + 0.5rem));
										}
										&:after {
											transform: translate(-150%, calc(100% + 1.5rem));
										}
									}
								}
								&.type_high {
									margin-block: 3.5rem 5rem;
									.branch_box {
										&.type_specialty {
											flex: 1.5;
											margin-right: 1rem;
										}
										&.type_highschool {
											flex: 1;
										}
									}
								}
							}
						}
					}
				}
			}
			.lead_more_btn {
				.btn_link {
					font-size: 1.25rem;
					padding: 0.25rem 2rem;
				}
			}
		}

		.sec_cs_field {
			//coming soonコンテンツ @ コース一覧
			.field_list {
				margin-block: 2.5rem;
				padding-inline: 1.5rem;
				.field {
					width: 100%;
					&:not(:last-child) {
						margin-bottom: 1.5rem;
					}
					.field_img {
						width: 30%;
						img {
							border-radius: 0.75rem 0 0 0.75rem;
						}
					}
					.txt_box {
						width: 70%;
						padding: 0.5rem 1rem;
						.field_name {
							font-size: 1.25rem;
							line-height: 1.2;
							margin-bottom: 0.5rem;
							padding-bottom: 0.25rem;
							.sub_name {
								font-size: 0.75em;
							}
						}
						.txt_sub_box {
							font-size: 0.85em;
							.sub_title {
								font-size: 1.1em;
								margin-bottom: 0.25rem;
							}
							.desc {
								font-size: 0.9em;
							}
						}
					}
				}
			}
		}

		.comingsoon_area {
			//coming soonコンテンツ @ 学生
			margin-block: 0 5rem;
			padding-inline: 1.5rem;
			.soon_student_img {
				margin-block: 0 5rem;
				.facility_photo {
					width: 100%;
					margin-bottom: 2.5rem;
				}
				.student_comment {
					width: 100%;
					border-radius: 1rem;
					font-size: 1.25rem;
					padding: 2.5rem 0.5rem;
					&:before {
						top: 0;
						left: 50%;
						transform: translate(-50%, -100%);
						clip-path: polygon(50% 0, 100% 100%, 0 100%);
						width: 5rem;
						height: 2.5rem;
					}
				}
			}
		}

		.sec_roundbox {
			border-radius: 2rem;
			padding-inline: 1rem;
			.roundbox_title {
				width: max-content;
				text-align: center;
				padding: 5px 2rem;
			}
			.roundbox_inner {
				padding: 3.5rem 0 0;
			}
		}

		.feature_list {
			.feature {
				margin-bottom: 2.5rem;
				padding-block: 2.5rem;
				.title_box {
					margin-bottom: 5rem;
					.feature_title {
						font-size: 1.35em;
						margin-bottom: 2rem;
						padding-top: 2em;
						&:before {
							font-size: 8em;
						}
						.main {
							font-size: 1.5em;
						}
					}
					.lead_box {
						line-height: 2;
					}
				}
				&.feature01 {
					//好きなことに打ち込める教室と設備
					.facility_img_list {
						.facility_img {
							column-gap: 0.75rem;
							row-gap: 0.75rem;
						}
					}
					.btn_shadow_block {
						margin-top: 1.5rem;
						margin-bottom: 2rem;
					}
				}
				&.feature02 {
					//"楽しく" "自分らしく"成長できる3つの専攻
					.major_list {
						margin-bottom: 5rem;
					}
					.sec_roundbox {
						width: 90%;
						border-radius: inherit;
						margin-top: 10rem;
						.lead_box {
							line-height: 2;
							margin-top: 1rem;
						}
						.example_databox {
							margin: 2.5rem 0;
							& > .databox_box {
								& > .databox_title {
									font-size: 1.5rem;
									margin-bottom: 1rem;
								}
								& > .databox_contents {
									.select_major_list {
										justify-content: space-between;
										padding-block: 1rem 2.5rem;
										.select_major {
											&.type_entry,
											&.type_select {
												padding: 0 0.5rem 1rem;
												.select_txt {
													line-height: 1.25;
													.strong {
														font-size: 1.35em;
													}
												}
											}
											&.type_entry {
												width: calc(100% / 2.25);
												&:before {
													width: 4.5rem;
													height: 4.5rem;
												}
												&:after {
													top: 50%;
													right: calc(0% - 2.75rem);
													transform: translate(0, -50%);
													font-size: 5em;
												}
											}
											&.type_select {
												width: calc(100% / 2.25);
												&:before {
													width: 6rem;
													height: 6rem;
													transform: translate(-50%, 35%);
												}
												&:after {
													content: none;
												}
											}
											&.type_result {
												width: 75%;
												margin: 6.5rem auto 0;
												padding: 10px;
												.result_img {
													display: inline-block;
													text-align: center;
												}
												.result_txt {
													font-size: 1.25em;
													transform: translate(25%, -25%);
													letter-spacing: -0.15em;
												}
												&:before {
													position: absolute;
													top: 0;
													left: 50%;
													transform: translate(-50%, -95%) rotate(90deg);
													content: "＝";
													font-size: 6.5rem;
													line-height: 1;
													padding-bottom: 0.15em;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&.feature03 {
					//楽しく充実したスクールライフ
					.uniform_wrap {
						&:before {
							width: 100vw;
							height: calc(100% - 5rem);
						}
						.uniform_inner {
							margin-block: 7.5rem;
							padding-inline: 1rem;
							.main_photo {
								img {
									width: 60%;
								}
							}
							.point_list {
								.point {
									padding: 5px;
									.main_photo {
										img {
											width: min(18vw, 200px);
										}
									}
								}
								&.point_man {
									.point {
										&:nth-child(1) {
											transform: translate(20%, -40%);
										}
										&:nth-child(2) {
											transform: translate(-10%, -35%);
										}
										&:nth-child(3) {
											transform: translate(55%, -35%);
										}
									}
								}
								&.point_woman {
									.point {
										&:nth-child(1) {
											transform: translate(65%, -25%);
										}
										&:nth-child(2) {
											transform: translate(0, -30%);
										}
										&:nth-child(3) {
											transform: translate(45%, -20%);
										}
									}
								}
							}
							.point_txt_list {
								padding-inline: 1rem;
								.point_txt {
									font-size: 1.25rem;
									white-space: nowrap;
									line-height: 1.35;
									.txt_bg {
										padding: 2px 0.5rem;
									}
									&:nth-child(1) {
										top: 0;
										left: 1rem;
										transform: translate(0, calc(-100% - 0.5rem));
									}
									&:nth-child(2) {
										bottom: 2rem;
										left: 1rem;
									}
									&:nth-child(3) {
										bottom: -2rem;
										right: 1rem;
									}
								}
							}
						}
					}
					.school_life_wrap {
						margin-top: 5rem;
						padding: 2rem 0;
						.schoollife_list {
							.schoollife {
								width: 100%;
								border-radius: 6px;
								padding: 2rem 1rem;
								&:not(:last-child) {
									margin-bottom: 2rem;
								}
								.schoollife_title {
									font-size: 1.25rem;
									transform: translate(-1.95rem, 0);
									padding: 2px 1rem 2px 2rem;
									&:before {
										width: 1rem;
										height: 0.5rem;
									}
								}
								.desc {
									margin-top: 2rem;
								}
								.img_box {
									margin-top: 2rem;
								}
								&.type_facility {
									//施設開放
									.photo_list {
										row-gap: 2rem;
										margin-top: 2rem;
										.photo {
											width: calc(100% / 2.1);
											img {
												border: 2px solid #000;
												border-radius: 0.5rem;
											}
										}
									}
									.illust_photo {
										transform: translate(-1rem, -1rem);
										width: 55%;
									}
								}
								&.type_rest_space {
									//休憩スペース
									
								}
								&.type_teacher {
									.img_box {
										.main_photo {
											width: 60%;
										}
										.sub_img {
											width: 45%;
										}
									}
								}
								&.type_ssc {
									//スチューデントサービスセンター（SCC）
									.ssc_img {
										.ssc_comment {
											font-size: 1.2rem;
										}
									}
								}
								/* &.type_oneday {
									//高等課程の1日
									.schedule_databox {
										--schedule_radius: 6px;

										width: 100%;
										margin-top: 2rem;
										& > .databox_box {
											font-size: 0.85em;
											&:not(:last-child) {
												margin-bottom: 0.5rem;
											}
											& > .databox_title {
												width: 20%;
												&:not(:empty) {
													border-radius: var(--schedule_radius) 0 0 var(--schedule_radius);
												}
												&:empty {
													& + .databox_contents {
														border-top-left-radius: var(--schedule_radius);
														border-bottom-left-radius: var(--schedule_radius);
													}
												}
											}
											& > .databox_contents {
												width: 80%;
												border-radius: 0 var(--schedule_radius) var(--schedule_radius) 0;
												padding: 2px 1rem;
											}
										}
									}
									.illust_img {
										top: 100%;
										right: 0;
										transform: translate(1.5rem, -90%);
										img {
											width: 30vw;
											object-fit: contain;

										}
									}
								} */
								&.type_event {
									//みんなで楽しむたくさんのイベント
									.event_list {
										margin-top: 2rem;
										.event {
											width: calc(100% / 2.15);
											&:not(:nth-last-child(-n+2)) {
												margin-bottom: 3.25rem;
											}
											&.type_sp_wide {
												width: 100%;
											}
										}
										.event_photo {
											img {
												border-radius: 6px;
											}
											.event_caption {
												.month {
													bottom: 0;
													right: 0;
													transform: translate(25%, 15%);
													font-size: 1.25rem;
													width: 4rem;
													height: 4rem;
													padding: 0 0.25rem;
													.num {
														font-size: 1.5em;
													}
												}
												.event_name {
													top: 0;
													left: 0;
													transform: translate(-0.5rem, -1rem) rotate(-10deg);
													font-size: 0.85rem;
												}
											}
										}
									}
									.sub_img {
										width: 50%;
									}
								}
								&.type_counseling {
									//何でも相談できるスクールカウンセリング
									.img_box {
										margin-bottom: 5rem;
										.sub_img {
											transform: translate(1rem, 50%);
											text-align: right;
											img {
												width: 75%;
											}
											.sub_caption {
												.comment {
													font-size: 0.85rem;
													letter-spacing: -0.25em;
													&:nth-child(1) {
														top: 55%;
														left: 28.5%;
														transform: translate(0, 0);
													}
													&:nth-child(2) {
														top: 0;
														right: 0;
														transform: translate(-55%, 25%);
													}
													&:nth-child(3) {
														top: 50%;
														right: 0;
														transform: translate(-50%, 0);
													}
												}
											}
										}
									}
								}
								&.type_dormitory {
									//安心安全の学生寮
									.img_box {
										margin-bottom: 5rem;
										.sub_img {
											transform: translate(0, 75%);
											text-align: right;
											img {
												width: 75%;
											}
											.sub_caption {
												font-size: 0.85rem;
												top: 50%;
												left: 22.5%;
												transform: translate(32.5%, -70%);
												letter-spacing: -0.25em;
											}
										}
									}
								}
							}
						}
					}
				}

				&.feature04 {
					//1人ひとりに寄り添った進路サポート
					.feature_title {
						letter-spacing: -0.25rem;
					}
					.flow_area {
						.flow_list {
							@include set.flexbox();
							padding-inline: 1.5rem;
							.flow {
								&.flow_usc {
									flex: 1;
									@include set.flexbox();
									@include set.flex_center();
									.flow_title {
										writing-mode: vertical-rl;
										margin: auto;
									}
								}
								&.flow_process {
									flex: 7;
									margin-right: 1rem;
									.flow_branch_list {
										.flow_branch {
											width: 100%;
											padding-left: 1.5rem;
											&:before {
												top: 50%;
												left: 0;
												transform: translate(0, -50%);
												clip-path: polygon(0 0, 100% 50%, 0 100%);
												width: 1rem;
												height: 3rem;
											}
											&:not(:last-child) {
												margin-bottom: 2rem;
											}
											.branch_box {
												padding: 2rem 1rem;
												&:after {
													top: 50%;
													right: 0;
													transform: translate(100%, -50%);
													clip-path: polygon(0 0, 100% 50%, 0 100%);
													width: 1rem;
													height: 3rem;
												}
												.flow_title {
													margin-bottom: 1rem;
												}
												.desc {
													font-size: 0.85em;
												}
											}
											&.type_specialist {
												.school_logo {
													img {
														width: 25%;
														margin-inline: auto;
														margin-bottom: 1rem;
													}
												}
											}
											&.type_partner {
												.school_list {
													.school {
														margin-bottom: 1rem;
													}
												}
												.school_logo {
													filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 25px #fff) drop-shadow(0 0 25px #fff);
													img {
														flex: 1;
														width: 15%;
														height: 30px;
														object-fit: contain;
														margin-right: 0.5rem;
													}
													.school_name {
														flex: 2;
														font-size: 0.85rem;
													}
												}
											}
											&.type_college,
											&.type_job {
												.branch_box {
													.flow_title {
														padding-bottom: 1rem;
													}
												}
											}
										}
									}
								}
								&.flow_job {
									flex: 1;
									.flow_job_list {
										.flow_job {
											@include set.flexbox();
											@include set.flex_center();
											width: 100%;
											&:not(:last-child) {
												margin-bottom: 2rem;
											}
											.job_title {
												writing-mode: vertical-rl;
												border: 0.5rem solid var(--flow_job_color);
												border-radius: 6px;
												font-size: 1.25rem;
												line-height: 1;
												padding: 1rem 0.25rem;
											}
											&:nth-child(1) {
												.job_title {
													height: 12.5em;
												}
											}
											&:nth-child(2) {
												.job_title {
													height: 15.5em;
												}
											}
										}
									}
								}
							}
						}
						.student_img {
							width: 30%;
							.student_comment {
								top: 0;
								right: 0;
								transform: translate(0, -100%);
								padding: 1.75rem 1.35rem;
								.comment {
									font-size: 0.75em;
									transform: rotate(-5deg);
								}
							}
						}
					}
				}
			}
		}
	}
	
	/* LINE BOX */
	.linBox {
		bottom: 7em;
		width: 25%;
	}
}

@media screen and (max-width: 640px) {
	//SPのみ
	.usc_top {
	}
	
	.sec_content {
	}
}