@charset "UTF-8";
@use "../setting" as set;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');
@font-face {
	font-family: 'Ronde-B';
	src: url(../../font/Ronde-B_square.otf) format('opentype');
}
html,body {
	font-family: var(--font_mplus);
	line-height: 1.5;
	min-width: initial;
	#usc_top {
		header.header,
		footer.footer {
			font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
		}
	}
}
:root {
	--usc_main_color: #ffe1e9;
	--usc_main_rgb: 233, 53, 91;
	--usc_main_light: #FFE1E9;
	--usc_sub_color01: #7dc2df;
	--usc_sub_rgb01: 125, 194, 223;
	--usc_main_text_color: #000;

	--font_ronde: 'Ronde-B';
	--font_mplus: 'M PLUS 1p', sans-serif;
	
	--content_max_width: calc(1440px + 2rem);
}
.rel {
	position: relative;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	flex-basis: auto;
	&.flex_space {
		justify-content: space-between;
	}
	&.flex_around {
		justify-content: space-around;
	}
	&.flex_center {
		justify-content: center;
	}
	&.flex_all_center {
		justify-content: center;
		align-items: center;
	}
	&.flex_al_center {
		align-items: center;
	}
	.flex1 {
		flex: 1;
	}
}


