@charset "UTF-8";
@use "../setting" as set;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');
@font-face {
	font-family: 'Ronde-B';
	src: url(../../font/Ronde-B_square.otf) format('opentype');
}
html,body {
	font-family: var(--font_mplus);
	line-height: 1.5;
	min-width: initial;
	#usc_top {
		header.header,
		footer.footer {
			font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
		}
	}
}
:root {
	--usc_main_color: #ffe1e9;
	--usc_main_rgb: 233, 53, 91;
	--usc_main_light: #FFE1E9;
	--usc_sub_color01: #7dc2df;
	--usc_sub_rgb01: 125, 194, 223;
	--usc_main_text_color: #000;

	--font_ronde: 'Ronde-B';
	--font_mplus: 'M PLUS 1p', sans-serif;
	
	--content_max_width: calc(1440px + 2rem);
}
.rel {
	position: relative;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	flex-basis: auto;
	&.flex_space {
		justify-content: space-between;
	}
	&.flex_around {
		justify-content: space-around;
	}
	&.flex_center {
		justify-content: center;
	}
	&.flex_all_center {
		justify-content: center;
		align-items: center;
	}
	&.flex_al_center {
		align-items: center;
	}
	.flex1 {
		flex: 1;
	}
}

//ボタン
.btn_box {
	transition: background .3s;
	cursor: pointer;
	a, .btn_link {
		@include set.flex_center();
		width: 100%;
		height: 100%;
		font-weight: bold;
		transition: color .3s;
	}
	&.type_acc {
		background: #fff;
		border: 2px solid #000;
		border-radius: 9rem;
		a, .btn_link {
			font-weight: bold;
		}
		&:hover {
			background: #000;
			a, .btn_link {
				color: #fff;
			}
		}
	}
	&.btn_shadow_block {
		position: relative;
		background: var(--btn_bg_color, #fff);
		border: 2px solid var(--btn_txt_color, #000);
		box-shadow: 2px 2px 0 0 var(--btn_txt_color, #000);
		transition: transform .3s, box-shadow .3s;
		a, .btn_link {
			color: var(--btn_txt_color, #000);
		}
		&:hover {
			transform: translate(2px, 2px);
			box-shadow: 1px 1px 0 0 var(--btn_txt_color, #000);
		}
		&.white {
			--btn_bg_color: #000;
			--btn_txt_color: #fff;
		}
		&.icon_right {
			&:after {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(-1rem, -50%);
				@include set.font_icon("\f105");
			}
		}
		&.icon_left {
			&:after {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(1rem, -50%);
				@include set.font_icon("\f104");
			}
		}
	}
}

//マーカー・ライン
.all_marker {
	&.yellow {
		background: linear-gradient(0deg, #FFFF00 0%, #FFFF00 100%);
	}
	&.white {
		background: linear-gradient(0deg, #fff 0%, #fff 100%);
	}
}
.half_marker {
	&.yellow {
		background: linear-gradient(0deg, #f3ff90 45%, rgba(255,255,255,0) 45%);
	}
	&.main_light {
		background: linear-gradient(0deg, rgba(var(--usc_main_rgb), 0.2) 45%, rgba(255,255,255,0) 45%);
	}
}
.under_marker {
	&.yellow {
		background: linear-gradient(0deg, #f3ff90 25%, rgba(255,255,255,0) 25%);
	}
	&.white {
		background: linear-gradient(0deg, #fff 25%, rgba(255,255,255,0) 25%);
	}
}

.all_marker,
.under_marker,
.half_marker {
	&.lazyCssAnime {
		background-repeat: no-repeat;
		background-size: 0% 100%;
		transition: background-size 1.25s;
		&.animeComplete {
			background-size: 100% 100%;
		}
	}
}

//背景
.bg_gray {
	background: #f9f9f9;
}
//テキスト背景
.txt_bg {
	box-decoration-break: clone;
	&.white {
		background: #fff;
		border: 2px solid #000;
	}
}
//テキスト装飾
.dialoge_txt {
	position: relative;
	display: inline-block;
	&:before,
	&:after {
		position: absolute;
		top: 50%;
	}
	&:before {
		left: 0;
		transform: translate(-100%, -50%);
		content: "＼";
	}
	&:after {
		right: 0;
		content: "／";
		transform: translate(100%, -50%);
	}
}

//バナー
.bnr_box {
	a {
		@include set.flexbox();
		@include set.flex_center();
		width: 100%;
		height: 100%;
	}
	&.bnr_what_school {
		width: min(80%, 830px);
		border: 2px solid #000;
		margin-inline: auto;
		.bnr_inner {
			border: 5px solid #fff;
			font-family: var(--font_ronde);
			background: url(../../img/common/cv_entry_bnr_bg01.png) no-repeat, url(../../img/common/cv_entry_bnr_bg02.png) no-repeat, var(--usc_sub_color01);
			background-size: auto 100%, auto 100%, 100%;
			background-position: left center, right center, center;
			width: 100%;
			text-align: center;
			transition: background .3s, border .3s;
			.bnr_title {
				text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, 1px 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
			}
			.round_txt {
				background: var(--usc_main_color);
				border-radius: 9rem;
				width: max-content;
				margin-inline: auto;
			}
		}
		&:hover {
			.bnr_inner {
				background: url(../../img/common/cv_entry_bnr_bg01.png) no-repeat, url(../../img/common/cv_entry_bnr_bg02.png) no-repeat, #fff;
				background-size: auto 100%, auto 100%, 100%;
				background-position: left center, right center, center;
				border: 5px solid var(--usc_sub_color01);
			}
		}
	}
}

//その他
.inline_list {
	> * {
		display: inline;
		&:not(:last-child) {
			&:after {
				content: "／";
			}
		}
	}
}

//アニメーション
.slideSideBySideItem {
	&.slideSpeedUniform {
		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}
}

.animeTxtBg {
	position: relative;
	clip-path: inset(0 100% 0 0);
	animation: animeTxtBgBeside 1s ease 1s 1 normal forwards running;
	&.delay2 {
		animation-delay: 1.35s;
	}
	&.delay4 {
		animation-delay: 1.7s;
	}
	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		content: "";
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 5;
		clip-path: inset(0 100% 0 0);
		animation: animeTxtBgBesideCover 1s ease 1s 1 normal forwards running;
	}
}

@keyframes animeTxtBgBeside {
	0% {
		clip-path: inset(0 100% 0 0);
	}
	48% {
		clip-path: inset(0);
	}
	100% {
		clip-path: inset(0);
	}
}
@keyframes animeTxtBgBesideCover {
	0% {
		clip-path: inset(0 100% 0 0);
	}
	48% {
		clip-path: inset(0);
	}
	50% {
		clip-path: inset(0);
	}
	52% {
		clip-path: inset(0);
	}
	100% {
		clip-path: inset(0 0 0 100% );
	}
}
/* 途中表示のアコーディオンパネル */
.moreAccArea {
	position: relative;
	.moreAccContents {
		overflow: hidden;
	}
}
.accContent {
	display: none;
}


/* -------------------- header／ヘッダー -------------------- */
header.header_usc {
	//position: relative;
	position: sticky;
	top: 0;
	background: #fff;
	border-top: 2px solid var(--usc_main_color);
	@include set.flexbox();
	justify-content: space-between;
	z-index: 10;
	.logo {
		width: min(70%, 400px);
	}
	.menu_area {
		.menu_list {
			.menu {
				font-family: var(--font_ronde);
				text-align: center;
				a {
					@include set.flexbox();
					@include set.flex_center();
					flex-direction: column;
					width: max-content;
				}
				.eng {
					color: var(--usc_sub_color01);
				}
				.jp {
					display: block;
				}
			}
			&.type_cv {
				.menu {
					background: var(--usc_main_color);
					.jp {
						color: var(--usc_main_text_color);
					}
				}
			}
		}
	}
}

/* -------------------- common／共通パーツ -------------------- */
.cv_list {
	width: min(100%, calc(1440px + 2rem));
	margin-inline: auto;
	.cv {
		border: 2px solid #000;
		background: var(--usc_main_color);
		font-family: var(--font_ronde);
		transition: background .3s;
		a {
			@include set.flexbox();
			@include set.flex_center();
		}
		.cv_txt {
			position: relative;
			@include set.flexbox();
			flex-direction: column;
			text-align: center;
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				content: "";
				background: var(--cv_icon) no-repeat;
				background-size: contain;
				background-position: center center;
			}
			.main_txt {
				color: var(--usc_main_text_color);
			}
		}
		.bar_txt {
			background: var(--usc_sub_color01);
			color: #fff;
		}
		&.cv_pamphlet {
			--cv_icon: url(../../img/common/icon_pamphlet.png);
		}
		&.cv_opencampus {
			--cv_icon: url(../../img/common/icon_oc.png);
		}
		&.cv_seminar {
			--cv_icon: url(../../img/common/icon_comment.png);
		}
		&:hover {
			background: #fff;
		}
	}
}

/* -------------------- footer／フッター -------------------- */
.footer_cv_area {
	background: linear-gradient(45deg, #f2f2f2 25%, rgba(255,255,255, 0) 25%, rgba(255,255,255, 0) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255,255,255, 0) 75%);
	background-size: 16px 16px;
	background-position: 16px 16px;
	.area_inner {
		width: min(100%, calc(1440px + 2rem));
		margin-inline: auto;
	}
}

footer.footer_usc {
	//background: #323232;
	.footer_inner {
		width: min(100%, calc(1440px + 2rem));
		margin-inline: auto;
		.logo {
			@include set.flexbox();
			justify-content: center;
			align-items: flex-end;
			//color: #fff;
			font-weight: bold;
			text-align: center;
			img {
				width: min(80%, 650px);
			}
		}
		.school_address {
			//color: #fff;
			a {
				color: inherit;
			}
			.tel {
				&:before {
					@include set.font_icon("\f095");
					margin-right: 0.5rem;
				}
			}
			.email {
				&:before {
					@include set.font_icon("\f0e0");
					margin-right: 0.5rem;
				}
			}
		}
	}
}

/* -------------------- commonParts／共通 -------------------- */
.site_wrap {
	&.usc_under {
		//下層ページ
		.area_mv {
			position: relative;
			.mv_img {
				position: relative;
				display: inline-block;
				width: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					content: "";
					width: 100%;
					height: 100%;
					background: rgba(0,0,0, 0.25);
					z-index: 1;
				}
			}
			.page_title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: max-content;
				word-break: keep-all;
				font-family: var(--font_title);
				color: #fff;
				font-size: min(8vw, 3.5rem);
				letter-spacing: 0.05em;
				z-index: 2;
				margin: 0;
				padding: 0.25em 1em;
				&:before,
				&:after {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					content: "";
				}
				&:before {
					width: calc(100% + 0.5em);
					height: 100%;
					border-top: 4px solid #fff;
					border-bottom: 4px solid #fff;
				}
				&:after {
					width: 100%;
					height: calc(100% + 0.5em);
					border-right: 4px solid #fff;
					border-left: 4px solid #fff;
				}
			}
		}
		//タイトル
		.sec_contents {
			.title_box {
				.feature_title {
					position: relative;
					font-family: var(--font_ronde);
					text-align: center;
					& > * {
						position: relative;
						z-index: 2;
					}
				}
				.lead_box {
					width: min(100%, calc(780px + 2rem));
					margin-inline: auto;
					padding-inline: 1rem;
				}
			}
		}
	}

	//コース
	.area_major_item {
		.major_mv_area {
			position: relative;
			width: min(100%, var(--content_max_width));
			margin-inline: auto;
			.major_txt_box {
				position: absolute;
				bottom: 0;
				background: var(--major_color);
				width: min(75%, 580px);
				z-index: 2;
				.major_name {
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(0, calc(-100% + 1em));
					width: max-content;
					font-family: var(--font_ronde);
					font-weight: normal;
					color: var(--usc_main_text_color);
					line-height: 1;
					.name_bg {
						background: var(--usc_main_color);
						border: 1px solid #000;
						display: inline-block;
					}
					.strong {
						font-weight: bold;
					}
				}
				.txt_box {
					color: #fff;
					.sub_title {
						font-weight: bold;
					}
				}
			}
			.major_mv_box {
				picture {
					img {
						width: 100%;
						object-fit: contain;
					}
				}
				.swiper-pagination {
					.swiper-pagination-bullet {
						border: 2px solid #000;
						background: #fff;
						opacity: 1;
						&.swiper-pagination-bullet-active {
							background: var(--usc_main_color);
						}
					}
				}
			}
		}
		.major_detail_box {
			.acc_line {
				position: relative;
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					content: "";
					width: 100vw;
					height: 2px;
					background: #000;
				}
				& > * {
					position: relative;
					z-index: 2;
				}
			}
			.btn_box {
				&.type_acc {
					width: min(60%, 330px);
					margin-inline: auto;
					
				}
			}

			.learn_list {
				width: min(100%, var(--content_max_width));
				margin-inline: auto;
				.learn {
					background: #fff;
					border: 2px solid #000;
					box-shadow: 0.5rem 0.5rem 0 0 var(--usc_main_color);
				}
			}
			.aim_databox {
				background: #313131;
				& > .databox_box {
					width: min(100%, var(--content_max_width));
					margin-inline: auto;
					& > .databox_title {
						@include set.flexbox();
						@include set.flex_center();
						background: #fff;
						color: #000;
					}
					& > .databox_contents {
						color: #fff;
					}
				}
			}
		}

		.curriculum_wrap {
			display: flex;
			width: min(100%, calc(1400px + 3rem));
			margin-inline: auto;
			padding-inline: 1.5rem;
			.curriculum_databox {
				background: #fff;
				> .databox_box {
					border: 2px solid #000;
					&:not(:last-child) {
						position: relative;
						&:after {
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translate(-50%, calc(100% + 1rem));
							content: "➕";
							color: #909090;
						}
					}
					> .databox_title {
						background: #909090;
						border-bottom: 2px solid #000;
						color: #fff;
						text-align: center;
					}
					.curriculum_list {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						.curriculum {
							&:before {
								content: "●";
								color: #909090;
							}
						}
					}
					&.type_select {
						> .databox_contents {
							background: var(--major_color);
						}
						> .databox_contents {
							.curriculum_list {
								.curriculum {
									color: #fff;
									&:before {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
			.curriculum_schedule_databox {
				background: #fff;
				.databox_title {
					position: relative;
					.schedule_title {
						position: relative;
						display: block;
						background: #fff;
						border: 2px solid #000;
						width: 100%;
						height: 100%;
						font-weight: bold;
						text-align: center;
						z-index: 3;
					}
					&:before,
					&:after {
						position: absolute;
						top: 0;
						left: 0;
						content: "";
					}
					&:before {
						background: var(--major_color);
						z-index: 2;
					}
					&:after {
						background: #000;
						z-index: 1;
					}
				}
				table.currilum_schedule_table {
					border-collapse: initial;
					th, td {
						border: none;
						text-align: center;
					}
					.curriculum_cell_title {
						&:not(:empty) {
							background: #909090;
							color: #fff;
						}
					}
					tbody {
						.curriculum_cell_title {
							display: flex;
							align-items: center;
							.period {
								flex: 1;
								font-weight: normal;
							}
							.time {
								flex: 1;
								border-left: 1px solid #fff;
								.start,
								.end {
									display: block;
								}
								.while {
									writing-mode: vertical-rl;
								}
							}
						}
					}
					.curriculum_cell_box {
						font-weight: bold;
						&.type_empty {
							background: #f8f8f8;
						}
						&.type_select {
							background: var(--major_color);
							color: #fff;
						}
						&.type_basic {
							background: #fffbc6;
							border: 5px solid var(--major_color);
							color: var(--major_color);
						}
						&.type_outside {
							background: rgba(var(--major_rgb), 0.2);
							color: var(--major_color);
						}
					}
				}
			}
			.caution_list {
				@include set.flexbox();
				color: #666;
			}
		}
		
		&:nth-child(odd) {
			.major_mv_area {
				.major_txt_box {
					left: 0;
				}
				.major_mv_box {
					.swiper-pagination {
						text-align: right;
					}
				}
			}
		}
		&:nth-child(even) {
			.major_mv_area {
				.major_txt_box {
					right: 0;
				}
				.major_mv_box {
					.swiper-pagination {
						text-align: left;
					}
				}
			}
		}
		&.major_k-pop {
			//K-POPコース
			--major_color: #3eb370;
			--major_rgb: 62, 179, 112;
		}
		&.major_dance {
			//ダンスコース
			--major_color: #ec727e;
			--major_rgb: 236, 114, 126;
		}
		&.major_musicians {
			//ヴォーカル＆ミュージシャンコース
			--major_color: #4dbbaa;
			--major_rgb: 77, 187, 170;
		}
		&.major_entertainment {
			//芸能活動コース
			--major_color: #95613b;
			--major_rgb: 149, 97, 59;
		}
	}
}